<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stiller/style.css">
</head>
<body>
    <header>
        <h1><%= title %></h1>
        <nav>
            <ul>
                <li><a href="/">Strona glowna</a></li>
                <li><a href="/add">Dodaj nowe jedzenie</a></li>
            </ul>
        </nav>
    </header>